*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div{
    width: 70%;
    margin: auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    padding: 50px;
}
img{
    max-width: 1300px;
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
    padding: 40px 0 40px 0;
}
h1{
 font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center; 
    padding-bottom: 40px;
}
p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.65;
}