@media only screen and (max-width: 786px) {
  .f_lg{
    width: 174px;
    height: 52px;
  }
  .cats_food {
    width: 100%;
    height: 130vh;
  }
  .first_logo {
    padding: 33px 0 0 70px;
  }
  .green_cat{
    background: none;
  }
  .soup_img {
    width: 709px;
    height: 609px;
    top: 280px;
    right: 309px;
  }
  
  .cat_text {
    right: 115px;
    top: 103px;
  }
  
  .func_food {
    width: 500px;
    height: 120px;
    padding-bottom: 150px;
  }
  
  .you_cat {
    width: 450px;
    height: 40px;
  }
  
  .r-link {
    display: var(--rLinkDisplay, inline-flex) !important;
  }
  
  .r-link[href] {
    color: var(--rLinkColor) !important;
  }
  
  .r-list {
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
  }
  
  .menu {
    --rLinkColor: var(--menuLinkColor, currentColor);
    color: #171616;
    padding: 30px 0 0 0px;
  }
  
  .menu:hover .menu__link:hover {
    border-bottom: 2px solid white;
  }
  
  .menu {
    background-color: var(--menuBackgroundColor, #f0f0f000);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, 0), 0 1px 2px 0 rgba(0, 0, 0, 0));
  }
  
  .menu__list {
    display: flex;
  }
  
  .menu__link {
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .cat_body {
    width: 100%;
    height: 900px;
  }
  
  .cat_body .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slim {
    height: 374px;
width: 100px;
  }
  
  .slim_img {
    width: 140px;
    height: 192px;
  }
  
  .cat_slim {
    display: flex;
    align-items: center;
  }
  
  .cat_round {
    margin-left: 400px;
    width: 200px;
    height: 211px;
    top: 105px;
    right: 0;
  }
  
  .fit {
    width: 570px;
    height: 374px;
    margin-right: 100px;
    margin-top: 82px;
  }
  
  .fit_img {
    width: 230px;
    height: 150px;
  }
  
  .cat_main {
    font-size: 25px;
    font-weight: 540;
    line-height: 36px;
    padding-left: 200px;
    padding-top: 60px;
  }
  
  .cat_text_sec {
    width: 400px;
    height: auto;
  }
  
  .first {
padding-left: 30px;
    height: 60px;
    width: 250px;
    border: none;
  }
  
  .first_sec{
    height: 60px;
    width: 250px;
    border: none;
    margin-top: 75px;
    padding-left: 30px;
  }
  .first,
  .first_sec {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
  
  .number {
    width: 700px;
    height: 763px;
  }
  
  .num_item_block {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .num_main {
margin-left: 50px;
  }
  
  .num_square {
    width: 80px;
    height: 80px;
    background: #68B738;
  }
  
  .num_item_1,
  .num_item_2,
  .num_item_3,
  .num_item_4 {
    width: 40%;
margin-right: 60px;
margin-bottom: 50px;
  }

    .fit,
    .slim{
      width: 100%;
      margin: 20px 0;
    }
    
    .cat_round,
    .fit_cat {
      left: 30px;
    }
    
    .num_item_block {
      padding: 50px 0;
    }
    
    .num_main {
      padding-left: 0;
    }
    
    .cat_main,
    .cat_text_sec {
      padding-left: 30px;
    }
    
    .menu__list {
      flex-direction: column;
    }
    
    .menu__link {
      padding: 1rem 2.5rem;
    }
    .live_ex {
      padding-right: 0;
    }
  
    .ex_text {
      padding: 70px 0 0 20px;
    }
  
    .day {
      width: auto;
      margin-left: 20px;
      margin-top: 20px;
      flex-wrap: wrap;
    }
  
    .five,
    .days {
      width: 40%;
      margin-bottom: 10px;
    }
  
    .food_cost {
      width: 100%;
      padding-top: 20px;
      flex-wrap: wrap;
    }
  
    .food_money,
    .money {
      padding-left: 20px;
      margin-right: 20px;
    }
  
    .was,
    .now {
      font-size: 15px;
      width: auto;
      height: auto;
      border-radius: 0;
    }
  
    .caty,
    .cat_sl {
      width: 100%;
      position: static;

      left: 0;
      margin-top: 20px;
    }
  
    .slider-container {
    bottom: 100%;
      width: 80%;
    }
  
    .dilers {
      width: 100%;
      height: 200px;
      flex-wrap: wrap;
      left: 0;
top: 0;
    }
  
    .foot_logo {
    left: 10%;
    }
  
    .widg {
      left: 40%;
    }
  
    .foot_sec_logo {
      left: 70%;
    }
    .map{
      width: 100%;
      height: 700px;
    }
  }